.simple-button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: lowercase;
  margin: 10px;
  cursor: pointer;
}

.primary {
  color: darkolivegreen;
  background-color: khaki;
}

.secondary {
  background-color: cornsilk;
}

.primary:hover {
  color: darkgoldenrod;
  background-color: yellow;
}

.primary:hover ~ .info-box:after {
  content: "click it";
  font-weight: bold;
  transition: ease-in-out 0.2s;
}

.secondary:hover {
  background-color: gold;
}

.secondary:hover ~ .info-box:after {
  content: "why even give the option";
  font-weight: bold;
  transition: ease-in-out 0.2s;
}
